<a href="https://colab.research.google.com/github/abdel2ty/IntenseAI_Notebooks_v1/blob/main/python_notebook1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sessions with Evergreen - Session 1

### Print a message onto the screen:

In [ ]:
print("""Mahmoud talaat
age = 40
salary = 100K """)

Mahmoud talaat
age = 40
salary = 100K

In [ ]:
print('Hello world!')

In [ ]:
print('lets start')

lets start

Single and duble quotes do the same job but in case you are printing a string with upstroph you should use the duble quotes like the code below

If you want to print a long string (in multiple lines) you should use the triple quotes

In [ ]:
print('''
Hello world!
My name is ali
I am a python developer''')

In [ ]:
print(1000 + 100)

1100

In [ ]:
print("ahmed" * 5 )

ahmedahmedahmedahmedahmed

In [ ]:
print(1000 * 5 )

5000

### Variables and Simple Data Types
Variables are containers for storing data values, Python has no command for declaring a variable, a variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = 6
z = x + y
z
x
y

6

In [ ]:
x = 5.5
y = "John"

In [ ]:
print("y")

In [ ]:
print(x)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
num_mahmoud = 4       # x is of type int
 # x is now of type str
print(num_mahmoud)

4

In [ ]:
y = 10
Y = 20
Y

20

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain **alpha-numeric** characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:

myvar = "Ahmed"
my_var = "Ahmed"
_my_var = "Ahmed"
myVar = "Ahmed"
MYVAR = "Ahmed"
myvar2 = "Ahmed"

#Illegal variable names:
2myvar = "Ahmed"
my-var = "Ahmed"
my var = "Ahmed"

Avoiding Name Errors When Using Variables

You should write the variable name without any mistakes

In [ ]:
message = "Hello Python"
message

'Hello Python'

### Data Types - Strings
A string is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings

In [ ]:
name = "Mahmoud Talaat"
name

'Mahmoud Talaat'

Changing Case in a String with Methods

In [ ]:
print(name.upper())
print(name.lower())

MAHMOUD TALAAT
mahmoud talaat

In [ ]:
first_name = "Mahmoud"
last_name = "Ali"
print(first_name,last_name)

Mahmoud Ali

To add a tab to your text, use the character combination \t as shown

In [ ]:
print("\tPython")

	Python

<code>\n</code> means new line

In [ ]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

String concatenation

In [ ]:
print('mahmoud'+ ' hassan')

mahmoud hassan

In [ ]:
print("10"+ "1")

101

### Fstring

In [ ]:
first_name = "mahmoud"
last_name = "hassan"

full_name = f"HI {first_name} {last_name} !!!"

full_name2 = first_name  +" " +last_name
full_name3 = "HI"+" " + first_name + ' ' + last_name + "!!!"
print('full_name' ,full_name)
print('full_name2' ,full_name2)
print('full_name3 ',full_name3)

### Data Types - Numbers

#### Integers

In [ ]:
Number = 100
num = 20

#### Floats
Python calls any number with a decimal point a float

In [ ]:
print(0.1 + 0.5)

In [ ]:
print(2 + 3)
print(2 * 3)
print(2 ** 3)
print(2 / 3)

In [ ]:
print((1+2)*4)

In [ ]:
print(100 + 0.5)

**Try It Yourself**
Write addition, subtraction, multiplication, and division operations that each result in the number 8.
Be sure to enclose your operations in print() calls to see the results. You should create four lines that look like this: print(5+3)

When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float:
4/2 ⇒ 2.0

In [ ]:
4/2

In [ ]:
1 + 2.0

Multiple Assignment
You can assign values to more than one variable using just a single line. This can help shorten your programs and make them easier to read; you’ll use this technique most often when initializing a set of numbers. For example, here’s how you can initialize the variables x, y, and z

In [ ]:
x = 10
y = 20
z = 30

In [ ]:
x, y, z = 0, 1, 2
print(z)

In [ ]:
x = 1
x = 10

#### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn’t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [ ]:
MAX_CONNECTIONS = 5000
print(MAX_CONNECTIONS)

MAX_CONNECTIONS = 1
print(MAX_CONNECTIONS)

#### Comments

In [ ]:
# Say hello to everyone.
print("Hello Python people!")

In [ ]:
'''
My name is mahmoud ali
Age : 14
Address : Egypt
'''

In [ ]:
print(10+10)
print("Ali"+10)

In [ ]:
name = "Ali"
num = 10.5
test = f"{name} {num}"
print(test)

#### List

In [ ]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']


my_list = ['mahmoud',20, 'ahmed', '300']
print(names)

#### Accessing Elements in a List
NOTE: Index Positions Start at 0, Not 1

In [ ]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

In [ ]:
#the last element in your list will have the index of -1
print(names[-1])

#### Changing, Adding, and Removing Elements

In [ ]:
# Modifying Elements in a List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names)

In [ ]:
names[0] = 'Max'
print(names)

In [ ]:
# Adding Elements to a List
names.append('Basma')
print(names)

In [ ]:
# You can append (add) any items to your empty list like:

t1 = ['a', 'b', 'c']


print(t1)

names.append(t1)
names.append('Ali')
names.append('samer')
print(names)

In [ ]:
# extend takes a list as an argument and appends all of the elements:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

t1.append(t2)
#t1.extend(t2)
print(t1)

In [ ]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(2, 'ducati')
print(motorcycles)

In [ ]:
#Removing an Item Using the del Statement
del motorcycles[0]
print(motorcycles)

In [ ]:
# Removing an Item Using the pop() Method
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

popped_name = names.pop()
print(popped_name)
print(names)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop()
print(popped_motorcycle)

In [ ]:
# Removing an Item by Value
names = ['mahmoud', 'ali', 'ahmed','ali' ,'mohamed']
names.remove('ali')
print(names)

In [ ]:
# Organizing a List
numbers = [5, 3, 1, 4,2]
#numbers.sort()
print(numbers)

In [ ]:
numbers.reverse()
print(numbers)

Notice that reverse() doesn’t sort backward.

In [ ]:
#Sorting a list of strings

names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.sort()
print(names)

In [ ]:
#Finding the Length of a List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(len(names))

In [ ]:
# Avoiding Index Errors When Working with Lists

names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[4])

In [ ]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

In [ ]:
#Looping Through an Entire List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:

    print(name)

In [ ]:
#Doing Something After a for Loop
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

print('the end')

In [ ]:
# Making Numerical Lists
numbers = list(range(1, 20))
print(numbers)

In [ ]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

In [ ]:
print(2**2)

In [ ]:
for number in range(1,11):
    print(number)

In [ ]:

# create a list of squares from 1 to 10 numbers

#solution

In [ ]:
# Simple Statistics with a List of Numbers

digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

In [ ]:
# List Comprehensions
squares = [value**2 for value in range(1, 11)]
print(squares)

In [ ]:
squares = []
for value in range(1, 11):
      squares.append(value ** 2)

print(squares)


**Try It Yourself**
3.1 Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite?
Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.


3.2 Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite.
Start with your program from Exercise 3.1. Add a print() call at the end of your program stating the name of the guest who can’t make it.
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting.
Print a second set of invitation messages, one for each person who is still in your list.


3.3 More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.  


Start with your program from Exercise 3.1 or Exercise 3.2. Add a print() call to the end of your program informing people that you found a bigger dinner table.
Use insert() to add one new guest to the beginning of your list.


Use insert() to add one new guest to the middle of your list.


Use append() to add one new guest to the end of your list.


Print a new set of invitation messages, one for each person in your list