<a href="https://colab.research.google.com/github/abdel2ty/IntenseAI_Notebooks_v1/blob/main/python_notebook3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sessions

### Defining a Function

In [ ]:
print(100)

100

![image.png](attachment:3117dbda-c816-4a6f-9df8-d7ff8fc16c2d.png)

In [ ]:
# function definition.
def say_Hello():
   print("Hello!")
   print("Hello!")
   print("Hello!")

In [ ]:
# function call
say_Hello()

Hello!
Hello!
Hello!

In [ ]:
# Passing Information to a Function
def say_Hello(username):
   """Display a simple greeting."""
   print(f"Hello, {username.title()}!")

In [ ]:
say_Hello('ahmed')

Hello, Ahmed!

### Arguments and Parameters
The variable username in the definition of say_Hello() is an example of a
**parameter**, a piece of information the function needs to do its job.
The **value 'ahmed' in say_Hello('ahmed') is an example of an argument**.
An argument is a piece of information thatâ€™s passed from a function call to a function.

In [ ]:
# Positional Arguments

def describe_pet(animal_type, pet_name):

   print(f"\nI have a {animal_type}.")
   print(f"My {animal_type}'s name is {pet_name.title()}.")

In [ ]:
describe_pet('dog', 'harry')

I have a harry.
My harry's name is Dog.

In [ ]:
# Multiple Function Calls

describe_pet('dog', 'harry')
describe_pet('cat', 'lilly')
describe_pet('dog', 'max')

I have a dog.
My dog's name is Harry.

I have a cat.
My cat's name is Lilly.

I have a dog.
My dog's name is Max.

In [ ]:
#Order Matters in Positional Arguments
describe_pet('max','dog')

I have a max.
My max's name is Dog.

In [ ]:
# Keyword Arguments
def describe_pet(animal_type, pet_name):
   """Display information about a pet."""
   print(f"\nI have a {animal_type}.")
   print(f"My {animal_type}'s name is {pet_name.title()}.")

In [ ]:
describe_pet('max','dog')

In [ ]:
# describe_pet(animal_type='dog', pet_name='max')
# # or
describe_pet( pet_name='max', animal_type='dog')

I have a dog.
My dog's name is Max.

In [ ]:
# Quiz
def about_user(user_name, phone, age, address):
   print(f"\nyour name is: {user_name.title()}.")
   print(f"phone : {phone}")
   print(f"Age : {age}")
   print(f"Address : {address.title()}")

In [ ]:
about_user('2515151', 'mahmoud talaat',20,'egypt' )

your name is: 2515151.
phone : mahmoud talaat
Age : 20
Address : Egypt

In [ ]:
about_user( phone='2515151',user_name='mahmoud hassan', age=20, address='egypt' )

your name is: Mahmoud Hassan.
phone : 2515151
Age : 20
Address : Egypt

In [ ]:
# Default Values
def about_user(user_name, phone,age = "30" ,address='Egypt'):
   print(f"\nyour name is: {user_name.title()}.")
   print(f"phone : {phone}")
   print(f"Age : {age}")
   print(f"Address : {address.title()}")

In [ ]:
about_user(user_name='mahmoud hassan', phone='01054488544155', age=20, address="USA")

your name is: Mahmoud Hassan.
phone : 01054488544155
Age : 20
Address : Usa

In [ ]:
#OR

def about_user(user_name, phone='6516516',age=20,address='Egypt'):
   """Display information about a pet."""
   print(f"\nyour name is: {user_name.title()}.")
   print(f"phone : {phone}")
   print(f"Age : {age}")
   print(f"Address : {address.title()}")

about_user('mahmoud')

your name is: Mahmoud.
phone : 6516516
Age : 20
Address : Egypt

In [ ]:
def get_name(first_name, last_name):

   full_name = f"{first_name} {last_name}"

   print(full_name.title())

x = get_name('ali', 'hassan')
print(x)

Ali Hassan
None

In [ ]:
 get_name('ali', 'hassan')

Ali Hassan

In [ ]:
# Return Values

def get_name(first_name, last_name):

   full_name = f"{first_name} {last_name}"

   return full_name.title()

In [ ]:
name_from_function = get_name('ali', 'hassan')
print(name_from_function)

Ali Hassan

In [ ]:
print(name_from_function)
print(name_from_function_2)

Ali Hassan
Ola Hassan

In [ ]:
name_from_function_2 = get_name('ola', 'hassan')
name_from_function_2

'Ola Hassan'

In [ ]:
def evenodd(num):
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [ ]:
evenodd(4)

Even Number

In [ ]:
def abc(num1, num2):
    number = num1 + num2
    #print(number)
    return number


a = abc(10, 20)
print(a)

30

### Quiz
Passing a List


Print this output by passing a list of names to a function called say_hello_username()


Hello, Ali!

Hello, Samy!
    
Hello, Mahmoud!

In [ ]:
#solution
def say_hello_username(names):
   """Print a simple greeting to each user in the list."""
   for name in names:
       msg = f"Hello, {name.title()}!"
       print(msg)

usernames = ['ali', 'samy', 'mahmoud']
say_hello_username(usernames)

Hello, Ali!
Hello, Samy!
Hello, Mahmoud!

In [ ]:
# Storing Your Functions in Modules
# test.py

def say_hello_username(names):
   """Print a simple greeting to each user in the list."""
   for name in names:
       msg = f"Hello, {name.title()}!"
       print(msg)

In [ ]:
# say.py

import test
usernames = ['max', 'samy', 'mahmoud']
test.say_hello_username(usernames)

In [ ]:
with open('data.txt', 'r') as f:
    data = f.read()

open() takes a filename and a mode as its arguments. r opens the file in read only mode. To write data to a file, pass in w as an argument instead:

In [ ]:
with open('data.txt', 'w') as f:
    data = 'some data to be written to the file'
    f.write(data)

# Great job!!

In [ ]:

def myfunc1():
    var2 = 10 # Variable with Local scope
    print(var2)


def myfunc2():
    print(var2) # This will throw error because var2 has a local scope. Var2 is o

In [ ]:
myfunc1()

10

In [ ]:
myfunc2()

10

In [ ]:
var1 = 100 # Variable with Global scope.
def myfunc():
 var1 = 99 # Local scope
 print(var1)

myfunc()
print(var1)

100
100

In [ ]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 del list1[0]
print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [ ]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 list1.append(100)
print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]

In [ ]:
def factorial(num): # Calculate factorial of a number using recursive function
     if num <=1 : # 4
         return 1  # 4 * 3 * 2 * 1
     else:
         return num * factorial(num-1)

factorial(5)

120