<a href="https://colab.research.google.com/github/abdel2ty/IntenseAI_Notebooks_v1/blob/main/python_part1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<a href="https://www.zero-grad.com/">
         <img alt="Zero Grad" src="https://lh3.googleusercontent.com/oEMY-qk_B2HW_Fponz1a3u1fLfo3NpO0VFjQKnVW8fH0v93NAWala5Kgp0nN2ubiyZdEMpwhv3Ynv7bXsB0RZ28YfEd_ZlRum75OHEu0-z7XwHfcD3sin7_SORLzg1gz52MsxD3b1WbxQWX1RdR4HP3jpbJTOuCiddl92UBcQH_x-Llx7_XuZuwb9ekN9vYnKsw6U1yL2df4IVrJEDySttzab9qlHvMO7sSekgS64jPVAmATjqXqlvrwM026dhrad-7nX-hfr2uKlUGPuo9xKzVo4EhbUP1-pKBQNPNHO6P0KcReg3NxbtKmWXRyg9LPX0xO-wwXWt9GhCcPXFV_BoY5eQXabCjR3mlr9SO01VgWplas-XF4337_JOm-bVkiaQjQca_N4Gg0hy26TvIGRnHEMIPSgudYPqhMnatoN4xAC715rP82r1svC0_qadXMZHu6D40YqWnY9ZE-iujr2p1_CetxmG-uY94UATy7o-SnxuPchG4QfZkiUgRMr8xNg86bQMuBxbCS_lOyVMwfqwbt2IunlDcZ8yyN_3SJFzFHuFOOjQolgGQrytI0mP1oTwba7je0RtBtCuTck1UCMMsZvMnJhCtWgMmuLoYTkSCzxMXbz0T3L2AClDouA_3dwM7z1gdm8Gq4v06T1KWFUs1adGNH5fuj-pUHEfW4drzzXgolPH5SehqhaNsqdMttCPUzNPIIEjwfULyQi7nlP-w-qydK82mdhdmjQhrprfoGtsPckJkI1Tur60uZI7nLkES5cE3tQrGualSNArRkkU8KN4tStZ0CkmqZNkAlMbfAJSYBD7tDxhGSg922AdLevSLJMTUyg6KuHoY30r7zH1Z8fE0R8aFZL2LJl54OU_tkXEdlFlSnZTOdB-PVTj-yagpt99SetLnQIX5SS_Vxc0BNPKjUZG0oEHYbIxkbZN1O7Rg78xe-thytngS0byfuaeP2X4NYjg29FIffnn72bAUs9Ii0N2mOpABLg1uQMN4MyAa1Mbd_=w1300-h200-no?authuser=1" >
      </a>

**Exercise 1:**

Write a program to accept two numbers from the user and print:
Summation, Subtraction, multiplication and division

In [ ]:
a = float(input("what is the first number?  "))
b = float(input("what is the second number?  "))

sum = a+b
subt = a-b
mult = a*b
div = a/b
print(f"the summation of both numbers is {sum:0.2f}")
print (f"the subtraction of both numbers is {subt:0.2f}")
print (f"the multiplication of both numbers is {mult:0.2f}")
print (f"the division of both numbers is  {div:0.2f}")

what is the first number?  4.4547
what is the second number?  4
the summation of both numbers is 8.45
the subtraction of both numbers is 0.45
the multiplication of both numbers is 17.82
the division of both numbers is  1.11

In [ ]:
a, b = input("Enter 2 numbers separated by space  ").split(',')
a, b = float(a), float(b)

sum = a+b
subt = a-b
mult = a*b
div = a/b
print(f"the summation of both numbers is {sum:0.2f}")
print (f"the subtraction of both numbers is {subt:0.2f}")
print (f"the multiplication of both numbers is {mult:0.2f}")
print (f"the division of both numbers is  {div:0.2f}")
print (f"the division of both numbers is  %0.2f" %div)

Enter 2 numbers separated by space  8,6
the summation of both numbers is 14.00
the subtraction of both numbers is 2.00
the multiplication of both numbers is 48.00
the division of both numbers is  1.33

**Exercise 2:**

Write a program to accept three numbers from the user and print:
Min. Number and Max. Number

In [ ]:
nums = []
a = int(input("what is the first number?  "))
b = int(input("what is the second number?  "))
c = int(input("what is the third number?  "))
nums.append(a)
nums.append(b)
nums.append(c)
print (f"the maximum number is {max(nums)}")
print (f"the minimum number is {min(nums)}")

what is the first number?  5
what is the second number?  8
what is the third number?  4
the maximum number is 8
the minimum number is 4

In [ ]:
nums = [None] * 3
nums[0] = float(input("what is the first number?  "))
nums[1] = float(input("what is the second number?  "))
nums[2] = float(input("what is the third number?  "))

print (f"the maximum number is {max(nums)}")
print (f"the minimum number is {min(nums)}")

what is the first number?  4
what is the second number?  5
what is the third number?  6
the maximum number is 6.0
the minimum number is 4.0

In [ ]:
n1 = float(input("what is the first number?  "))
n2 = float(input("what is the second number?  "))
n3 = float(input("what is the third number?  "))

print (f"the maximum number is {max(n1, n2, n3)}")
print (f"the minimum number is {min(n1,n2,n3)}")

what is the first number?  5
what is the second number?  6
what is the third number?  7
the maximum number is 7.0
the minimum number is 5.0

In [ ]:
a =6
print (f"a is {a}")
print ("a is {}".format(a))
print ("a is : "+ str(a))

the minimum number is 6
the minimum number is 6
the minimum number is : 6

**Exercise 3:**

Write a program to accept Name, age and salary from the user and print like this:

> `My name is Ali.I am 30 years old. My salary is 1155.5$`

In [ ]:
name = input ("What is your full name? ")
age = int (input("How old are you?"))
salary = int(input("how much is your monthly salary in USD? "))
print (f"My name is {name}. I am {age} years old. My Salary is {salary} $ ")

What is your full name? a
How old are you?25
how much is your monthly salary in USD? 1500
My name is a. I am 25 years old. My Salary is 1500 $

In [ ]:
name = input ("What is your full name? ")
age = float (input("How old are you?"))
salary = float(input("how much is your monthly salary in USD? "))
print (f"My name is {name}. I am {age:0.2f} years old. My Salary is {salary:0.2f} $ ")

What is your full name? a
How old are you? 25.5
how much is your monthly salary in USD? 1500.23111
My name is a. I am 25.50 years old. My Salary is 1500.23 $

**Exercise 4:**

Write a program to accept temperature in Faherenheit and print it in Celsius.
> C = (F - 32) * 5/9

In [ ]:
fdegree = float(input("what is the  fahrenheit degree you whant to convert to celcious ?  "))
cdegree = round (((fdegree - 32) * 5/9), 2)
print (f" the equivilant  degree for {fdegree} fahrenheit is {cdegree} celcious ")

what is the  fahrenheit degree you whant to convert to celcious ?  45
 the equivilant  degree for 45.0 fahrenheit is 7.22 celcious

 **Exercise 5:**

Write a program to chek if a word is palindrome (read from right as read from left, as "eye", "radar" and "madam").
> Print `True` or `False`

In [ ]:
word = input ("Please enter the palindrome word ")
if word == word[::-1]:
    print("True")
else:
    print("False")

Please enter the palindrome word eye
true

In [ ]:
word = input ("Please enter the palindrome word ")
print("Check: ", word == word[::-1])

Please enter the palindrome word errt
Check:  False

 **Exercise 6:**

Write a program to remove the "apple" item from your basket

> `basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}`

In [ ]:
basket = {'Orange' : 10, 'Banana': 15, 'apple' : 20}
#del basket['apple']
basket.pop('apple')
basket

{'Orange': 10, 'Banana': 15}

 **Exercise 7:**

Write a program to return a new set of identical items from two sets

> * `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 5, 8}`

In [ ]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}
s1. intersection(s2)

{1, 5, 8}

In [ ]:
s1 & s2

{1, 5, 8}

 **Exercise 8:**

Write a program to return a new set of Unique items from two sets

* `Input : s1= {1,3,5,7,2,6,8},  s2 = {5,8,11,14,1}`
* `Output : {1, 2, 3, 5, 6, 7, 8, 11, 14}`

In [ ]:
s1= {1,3,5,7,2,6,8}
s2 = {5,8,11,14,1}
s1.union(s2)

{1, 2, 3, 5, 6, 7, 8, 11, 14}

In [ ]:
s1 | s2

{1, 2, 3, 5, 6, 7, 8, 11, 14}

 **Exercise 9:**

Write a program to Grab "hello"

`d = {'k1':[{'nest_key':['this is deep',['hello']]}]}`

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])

hello

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [ ]:
d['k1'][0]

{'nest_key': ['this is deep', ['hello']]}

In [ ]:
d['k1'][0]['nest_key']

['this is deep', ['hello']]

In [ ]:
d['k1'][0]['nest_key'][1]

['hello']

In [ ]:
d['k1'][0]['nest_key'][1][0]

'hello'

 **Exercise 10:**

Write a program to return a list of unique values of a list
> * `Input   :[1,2,3,1,2,3,4,5,6,4,5,6]`
* `Output  : [1,2,3,4,5,6]`

In [ ]:
lst = [1,2,3,1,2,3,4,5,6,4,5,6]
list(set(lst))

[1, 2, 3, 4, 5, 6]

# **Exercise 11:**

Modify the code below

In [ ]:
books = {
    "Life of Pi": "Adventure Fiction",
    "The Three Musketeers": "Historical Adventure",
    "Watchmen": "Comics",
    "Bird Box": "Horror",
    "Harry Potter":"Fantasy Fiction",
    "Good Omens": "Comedy"
}

book = input()

#change this part to use the .get() method
if(book in books):
    print(books[book])
else:
    print("Not Found")

a
Not Found

In [ ]:
books = {
    "Life of Pi": "Adventure Fiction",
    "The Three Musketeers": "Historical Adventure",
    "Watchmen": "Comics",
    "Bird Box": "Horror",
    "Harry Potter":"Fantasy Fiction",
    "Good Omens": "Comedy"
}

In [ ]:
book = input("Please enter the book name you're lookig for: ")
books.get(book, 'Error')

Please enter the book name you're lookig for: Harry Potter

'Fantasy Fiction'

In [ ]:
books.get(input('Enter a book  '), 'Not Found')

Enter a book  Good

'Not Found'

# **Exercise 12:**

Write a program to calculate the Euclidean Distance between two points

![](https://miro.medium.com/max/277/1*IVy5Ozk6e3sQtG_wuKo19A.jpeg)

In [ ]:
p1 = (1,2)
p2 = (3,4)
distance = ((p2[1]-p1[1])**2+(p2[0]-p1[0])**2)**0.5
print (f"The  Euclidean Distance between {p1} and {p2} is {distance}")
#calculate distance

The  Euclidean Distance between (1, 2) and (3, 4) is 2.8284271247461903

# **Exercise 13:**

Write a program to calculate how many sentances and words in the following paragraph

In [ ]:
paragraph = '''Hello Friends. This is a light exercise. Try splitting!'''
no_sent = len (paragraph.split('.'))
no_word = len (paragraph.split())
print (f"number of sentences is {no_sent}")
print (f"number of words is {no_word}")

# calculate No. of Sentences & No. of words

number of sentences is 3
number of words is 9

In [ ]:
paragraph.split()

['Hello',
 'Friends.',
 'This',
 'is',
 'a',
 'light',
 'exercise.',
 'Try',
 'splitting!']

In [ ]:
'.' or '!'   #  True   or   True

'.'

In [ ]:
'.' and '?ssddcs'   #  True   or   True

'?ssddcs'

In [ ]:
'' or ''   # '' -> False

''

In [ ]:

'' and '!'

''